.body--homePage {
    background-color: #24292D;
    position: absolute;
    height: 100%;
    width: 100%;
    color: #ffffff66;
    display: flex;
    justify-content: center;
    align-items: center;

    .container{
        // background-color: #fb0000;
        height: 500px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .image{
        margin-bottom: 30px;
        width: 230px;
        height: 215px;
    }
}